*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

li {
  list-style: none; }

header .header-top {
  background-color: #0b2c3d;
  height: 41px; }
  header .header-top .container {
    max-width: 1200px; }
    header .header-top .container .row {
      align-items: center; }
      header .header-top .container .row .header-top-left ul {
        display: flex; }
        header .header-top .container .row .header-top-left ul li {
          margin: 0 30px 0 0;
          font-size: 14px;
          font-weight: 700; }
          header .header-top .container .row .header-top-left ul li a {
            color: #fff; }
            header .header-top .container .row .header-top-left ul li a i {
              margin-right: 3px;
              color: #ff5a3c; }
      header .header-top .container .row .header-top-right {
        display: flex;
        justify-content: flex-end; }
        header .header-top .container .row .header-top-right ul {
          display: flex;
          align-items: center; }
          header .header-top .container .row .header-top-right ul li {
            margin: 0 30px 0 0;
            font-size: 14px;
            font-weight: 700;
            margin-right: 30px; }
            header .header-top .container .row .header-top-right ul li a {
              color: #fff; }
            header .header-top .container .row .header-top-right ul li .social-block li {
              margin-right: 14px; }
        header .header-top .container .row .header-top-right .header-btn {
          padding: 0 20px;
          line-height: 40px;
          background-color: #ff5a3c;
          color: #fff; }

header .header-main .container {
  max-width: 1200px; }
  header .header-main .container .row {
    align-items: center;
    padding: 20px 20px; }
    header .header-main .container .row .site-logo {
      display: flex;
      align-items: center;
      height: 100%; }
      header .header-main .container .row .site-logo a {
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 1px;
        display: contents;
        color: #000; }
        header .header-main .container .row .site-logo a img {
          max-width: 100%; }
    header .header-main .container .row .header-menu-col {
      display: flex; }
      header .header-main .container .row .header-menu-col nav ul {
        display: flex;
        margin-bottom: 0px; }
        header .header-main .container .row .header-menu-col nav ul .menu-item {
          margin-right: 20px; }
          header .header-main .container .row .header-menu-col nav ul .menu-item a {
            color: #071c1f;
            font-size: 18px;
            padding: 20px 10px;
            font-weight: 600; }
    header .header-main .container .row .search-sec {
      display: flex;
      justify-content: flex-end; }
      header .header-main .container .row .search-sec .header-search-btn {
        margin-right: 10px; }
        header .header-main .container .row .search-sec .header-search-btn .header-search {
          height: 50px;
          width: 50px;
          line-height: 50px;
          background: #fff;
          text-align: center;
          box-shadow: 2px 2px 150px grey; }
          header .header-main .container .row .search-sec .header-search-btn .header-search .search-icon {
            min-width: 25px;
            text-align: center;
            font-size: 16px; }
